# Database
DATABASE_URL="postgresql://postgres:[hiszpanek!23]@db.twphrnydxzqszumytryu.supabase.co:5432/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://twphrnydxzqszumytryu.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3cGhybnlkeHpxc3p1bXl0cnl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg4NjczODQsImV4cCI6MjA2NDQ0MzM4NH0.7m7jZNuKMEYNFigiIUraIi0f2WODqOgKWNyVj65nvPE"
SUPABASE_SERVICE_ROLE_KEY="[YOUR_SERVICE_ROLE_KEY]"

# API Configuration
IMGW_API_URL="https://danepubliczne.imgw.pl/api/data"
IMGW_API_ENDPOINT="hydro"  # hydro lub hydro2
SYNC_INTERVAL_MINUTES=60 